################################################################################
### Visual Studio and Visual Studio Code directories
################################################################################
.vs
.vscode

################################################################################
### Build and Intermediate Build Directiroes
################################################################################
[Bb]in/
[Oo]bj/

################################################################################
### Build Artifacts Directory
################################################################################
.artifacts

################################################################################
### OS Specific
################################################################################
.DS_Store
[Tt]humbs.db
